* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at center,#ffffff, #adadad);
    color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    font-family: 'Arial', sans-serif; /* Definindo uma fonte padrão */
}
.social-icons {
    font-size: 3rem; /* Aumenta o tamanho dos ícones */
    margin-top: 100px; /* Adiciona mais espaço acima dos ícones */
}

.icon-link {
    margin: 0 10px; /* Espaçamento entre os ícones */
    color: #292626; /* Cor preta para os ícones */
    text-decoration: none; /* Remove o sublinhado */
    transition: color 0.3s;
}

/* Muda a cor para cinza claro ao passar o mouse */
.icon-link:hover {
    color: #ccc; /* Cor ao passar o mouse */
    text-decoration: none; /* Remove o sublinhado */
}

.icon-link i {
    filter: grayscale(100%); /* Aplica o efeito preto e branco */
    transition: filter 0.3s; /* Transição suave */
}

/*.music-player {
 /*   position:absolute; /* Permite o posicionamento em relação à janela */
  /*  bottom: 10px;
    /*top: 10px;  Distância do topo */
   /* right: 10px;  Distância da direita */
    /* left: 10px; */
    /*background-color: rgba(245, 238, 238, 0); /* Fundo branco com transparência */
    /*border-radius: 30px; /* Bordas arredondadas */
   /* padding: 0px; /* Espaçamento interno */
   /* box-shadow: 0 9px 3px rgba(0, 0, 0, 0.2); /* Sombra */
   /* display: flex;
    align-items: center;
    justify-content: center;
} */

.music-player audio {
    width: 280px; /* Largura do player */
    height: 30px;
    outline:none; /* Remove contorno padrão */
    bottom: 10px;
    right: 10px;  Distância da direita */
    left: 10px;
    padding: 0px; /* Espaçamento interno */
    display: flex;
    position:absolute; /* Permite o posicionamento em relação à janela */
    box-shadow: 0 9px 3px rgba(0, 0, 0, 0.2); /* Sombra */
    align-items: center;
    justify-content: center;
}

.container {
    display:block;
    flex-direction: row;
    flex-wrap:nowrap;
}

.logo-pulse {
    animation: pulse 1.2s infinite;
    max-height: 500px;
    max-width: 500px;
}

.logo-estacao {
    max-height: 900px;
    max-width: 900px;
}

footer {
    background-color: transparent; /* Fundo transparente */
    color: #000; /* Cor do texto */
    padding: 10px 0; /* Espaçamento interno */
    position: relative; /* Permite que fique no fluxo do documento */
    width: 100%; /* Para ocupar toda a largura */
    margin-top: auto; /* Empurra o rodapé para o final da página */
}

footer a {
    color: #000; /* Cor do link */
    text-decoration: none; /* Remove sublinhado */
}

footer a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
}

@keyframes pulse {
    0% { transform: scale(1.09); }
    50% { transform: scale(1.085); }
    100% { transform: scale(1.07); }
}

@media (max-width: 1440px) {
    .logo-pulse { 
        max-height: 350px;
        max-width: 350px;
    }
    
    .logo-estacao {
        max-height: 700px;
        max-width: 700px;
    }
}

@media (max-width: 1080px) {
    .logo-pulse { 
        max-height: 250px;
        max-width: 250px;
    }
        
    .logo-estacao {
        max-height: 500px;
        max-width: 500px;
    }
}

@media (max-width: 766px) {
    .logo-pulse { 
        max-height: 250px;
        max-width: 100px;
    }
        
    .logo-estacao {
        max-height: 250px;
        max-width: 250px;
    }
}



